body {
    background-color: black;
    color: white;
}

header {
    text-align: center;
}

img { 
    width: 150px;
}

ul, nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.radio {
    list-style: none;
    display: inline-block;
    width: calc(100% / 5);
    height: 30px;
}

main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nameMovie {
    margin: 5px;
    margin-top: 0px;
}

 